{% extends "layout.html" %}

{% block title %}How was your day? {% endblock %}

{% block head %}
<!--引入wangEditor.css-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scripts/wangEditor/css/wangEditor.min.css') }}">
{% endblock %}

{% block content %}

<div class = "mt-5">
    <form id="CreateBlogFormId" method="" action="">
        <p>Title：<input type="text" name="title" placeholder="Title" required /></p>
        <textarea id="editor" style="height:400px; max-height:500px;" name="content">
        <p>Let's start...</p>
        </textarea>
        <!--
        <button id="btn1"> - </button>
        <button id="btn2">clear </button>
        -->
        <input onclick=postForm() type="button" value="Submit">
        <p style="color:red; text-align: center" id="result"></p>
    </form>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.1.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/wangEditor/js/wangEditor.min.js') }}"></script>
<script type="text/javascript">
  
    var div = document.getElementById('editor');
   
    var editor = new wangEditor(div);
   
    editor.config.codeDefaultLang = 'python'
  
    editor.config.uploadImgUrl = '/uploadimage/';
    editor.config.uploadImgFileName = 'WriteBlogImage';
    editor.create();
     
    function postForm() {
        alert("Your Note Has Been Saved");
    };
</script>

{% endblock %}
