{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Personal Diary</h1>
    <p class="lead">This web app helps you to take daily notes and organize it.</p>
    <p><a href="/register" class="btn btn-primary btn-large">Join us now &raquo;</a></p>
</div>

<!--
{% for note in notes %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + note.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ note.author.username }}</a>
                <small class="text-muted">{{ note.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('note', note_id=note.id) }}">{{ note.title }}</a></h2>
        </div>
    </article>
{% endfor %}

-->



{% endblock %}
