<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{{ title }} - My Flask Application</title>

    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />

    <!-- Include Editor style. -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    {% block head %}
    {% endblock %}

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Application name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('note') }}">My Notes</a></li>
                    <li><a href="{{ url_for('create_note') }}"> Create Note</a></li>
                    {% endif %}


                </ul>
                <div class="nav-item nav-link navbar-right">

                    <ul class="nav navbar-nav ">
                        {% if current_user.is_authenticated %}
                        <li><a class="nav-item nav-link navbar-right" href="{{ url_for('account') }}">Account</a></li>
                        <li><a class="nav-item nav-link navbar-right" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li><a class="nav-item nav-link navbar-right" href="{{ url_for('login') }}">Login</a></li>
                        <li><a class="nav-item nav-link navbar-right" href="{{ url_for('register') }}">Register</a></li>

                        {% endif %}

                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="page-content">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <hr />
                <footer>
                    <p>&copy; {{ year }} - all rights reserved </p>
                </footer>
            </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
   
    {% block script %}
    {% endblock %}


</body>
</html>
